@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

:root{
    /* typography */
    --XXS: calc(var(--M) / 2);
    --XS: calc(var(--M) * 3 / 4);
    --S: calc(var(--M) * 7 / 8);
    --M: 1rem;
    --L: calc(var(--M) * 3 / 2);
    --XL: calc(var(--M) * 2);
    --XXL: calc(var(--M) * 4);

    --fw-h1:400;
    --fw-b:100;

    /*colors*/
    --background:hsla(207, 15%, 15%, 1);
    --element-active: hsla(207, 65%, 45%, 1);
    --c-h:#fff;
    --c-p:#818D98;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background) ;
    color:white;
    font-family:  'Gilroy Light', sans-serif;
}

header{
    margin: 0 auto;

   display:flex;
   justify-content: center;
   align-items: center;


   height: var(--XXL);
   width:90%;
   color: var(--c-p);
}

a.lightmode{
    width: 100%;
    margin-left: 0
}

a.lightmode:hover{
    cursor: pointer;
    color:var(--element-active);
}

div.contact{
    display: inline-block;
    margin-right:0;  
}

i{
    display: inline-block;
    margin:10%;
}


